body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  background-color: white;
}

.key {
  background-color: slategrey;
  color: white;
}

.code {
  width: 700px;
  margin: auto;
}
